<!DOCTYPE html>
<html>
<head>
  <title>Project Vision</title>
  <%#= stylesheet_link_tag :all %> 
  <%= stylesheet_link_tag "application", "resources/css/xtheme-gray","resources/css/ext-all","style","tabs-example.css","Ext.ux.tot2ivn.VrTabPanel" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

  <%#*EXTJS%>
  <%= javascript_include_tag "extjs/adapter/ext/ext-base","extjs/ext-all-debug","extjs/examples/ux/RowExpander"  %>
  
  <!-- Extensible includes -->
  <%= stylesheet_link_tag "extensible-all" %>
  <%= javascript_include_tag "extensible-all-debug","MemoryEventStore","events" %>
  <!-- Any Extensible overrides go here -->  

  <%#*Application Specific%>
  <%= javascript_include_tag "VrTabPanel" %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


<script>
  var is_admin = <%= (current_user and current_user.is_admin) ? 'true' : 'false' %> ;
  var currentUser = <%= current_user ? current_user.id : 0 %>;
  new Ext.data.JsonStore(
  {
    "storeId":"inbox_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"brief","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"detail","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"category","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"actionable","allowBlank":true,"type":"boolean","defaultValue":null},
      {"name":"context","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"next","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"outcome","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"due_date","allowBlank":true,"type":"date","defaultValue":null},
      {"name":"action_type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"scope","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"created_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"updated_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"action_type_str","allowBlank":true,"type":"string","defaultValue":null}
     
    ],
    "idProperty":"id",
    "url":"/thoughts.json",
    "baseParams":{"fieldset":"default","ttype":"inbox", "status":0},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});
  new Ext.data.JsonStore(
  {
    "storeId":"organize_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"brief","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"detail","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"category","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"actionable","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"context","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"next","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"outcome","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"due_date","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"scope","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"created_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"updated_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"}
    ],
    "idProperty":"id",
    "url":"/thoughts.json",
    "baseParams":{"fieldset":"default","ttype":"organize", "status":1},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});
  new Ext.data.JsonStore(
  {
    "storeId":"todo_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"brief","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"detail","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"category","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"actionable","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"context","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"next","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"outcome","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"due_date","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"scope","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"created_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"updated_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"action_type_str","allowBlank":true,"type":"string","defaultValue":null}
    ],
    "idProperty":"id",
    "url":"/thoughts.json",
    "baseParams":{"fieldset":"default","ttype":"organize", "status":2, "action_type":1},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});
  new Ext.data.JsonStore(
  {
    "storeId":"reference_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"brief","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"detail","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"category","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"actionable","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"context","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"next","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"outcome","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"due_date","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"scope","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"created_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"updated_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"action_type_str","allowBlank":true,"type":"string","defaultValue":null}
    ],
    "idProperty":"id",
    "url":"/thoughts.json",
    "baseParams":{"fieldset":"default","ttype":"organize", "status":2, "action_type":2},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});
  new Ext.data.JsonStore(
  {
    "storeId":"reminder_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"brief","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"detail","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"category","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"actionable","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"context","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"next","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"outcome","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"due_date","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"scope","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"created_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"updated_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"action_type_str","allowBlank":true,"type":"string","defaultValue":null}
    ],
    "idProperty":"id",
    "url":"/thoughts.json",
    "baseParams":{"fieldset":"default","ttype":"action", "status":2, "action_type":3},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});
  new Ext.data.JsonStore(
  {
    "storeId":"recent_completed_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"brief","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"detail","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"category","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"actionable","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"context","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"next","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"outcome","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"due_date","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"scope","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"created_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"updated_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"}
    ],
    "idProperty":"id",
    "url":"/thoughts.json",
    "baseParams":{"fieldset":"default","ttype":"action", "status":2, "action_type":1},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});
  new Ext.data.JsonStore(
  {
    "storeId":"upcoming_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"brief","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"detail","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"category","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"actionable","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"context","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"next","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"outcome","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"due_date","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"scope","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"created_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"updated_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"}
    ],
    "idProperty":"id",
    "url":"/thoughts.json",
    "baseParams":{"fieldset":"default","ttype":"action", "status":2, "action_type":1},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});
  new Ext.data.JsonStore(
  {
    "storeId":"recent_team_activity_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"user_id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"model_type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"model_id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"action_type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"message","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"created_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"updated_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"}
    ],
    "idProperty":"id",
    "url":"/action_logs/recent_team_logs.json",
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});
	new Ext.data.JsonStore(
  {
    "storeId":"global_thought_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"action_status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"actionable","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"assignee_id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"brief","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"category","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"context","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"created_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"detail","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"due_date","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"next","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"outcome","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"parent_id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"scope","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"updated_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"user_id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"assigned_to","allowBlank":true,"type":"string","defaultValue":null},
      //{"name":"replies","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_type_str","allowBlank":true,"type":"string","defaultValue":null}
    ],
    "idProperty":"id",
    "url":"/thoughts.json",
    "baseParams":{"fieldset":"default","ttype":"all"},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});

  new Ext.data.JsonStore(
  {
    "storeId":"users_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"id","allowBlank":false,"type":"int","defaultValue": 1},
      {"name":"email","allowBlank":false,"type":"string","defaultValue":""},
      {"name":"last_sign_in_at","allowBlank":false,"type":"datetime","defaultValue":2},
            ],
    "idProperty":"id",
    "url":"/my_users.json",
    "baseParams":{},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});

  
  new Ext.data.JsonStore(
  {
    "storeId":"my_team_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"id","allowBlank":false,"type":"int","defaultValue": 10},
      {"name":"name","allowBlank":false,"type":"string","defaultValue":""},
            ],
    "idProperty":"id",
    "url":"/teams/list.json",
    "baseParams":{},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});
  
  var teamStoreReader = new Ext.data.JsonReader(
  {
    "idProperty":"id",
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"id","allowBlank":false,"type":"string","defaultValue": "1_1"},
      {"name":"user_id","allowBlank":false,"type":"int","defaultValue": 1},
      {"name":"user","allowBlank":false,"type":"string","defaultValue": ""},
      {"name":"tasks","allowBlank":false,"type":"string","defaultValue": ""},
      {"name":"team_id","allowBlank":false,"type":"int","defaultValue": 1},
      {"name":"team","allowBlank":false,"type":"string","defaultValue":"goodlogics"},
      {"name":"email","allowBlank":false,"type":"string","defaultValue":""},
      {"name":"last_sign_in_at","allowBlank":false,"type":"datetime","defaultValue":2},
            ]
  });
  
  new Ext.data.GroupingStore(
  {
    "storeId":"team_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "reader":teamStoreReader,
    "url":"/teams.json",
    "groupField": 'team',
    "baseParams":{},
    "format":"json",
    "writer":new Ext.data.JsonWriter({"encode":false})});

  new Ext.data.JsonStore(
  {
    "storeId":"team_thought_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"action_status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"actionable","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"assignee_id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"brief","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"category","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"context","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"created_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"detail","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"due_date","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"next","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"outcome","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"parent_id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"scope","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"updated_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"user_id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"assigned_to","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"team_id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"team","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"replies","allowBlank":true,"type":"array","defaultValue":null},
      {"name":"action_type_str","allowBlank":true,"type":"string","defaultValue":null}
    ],
    "idProperty":"id",
    "url":"/thoughts.json",
    "baseParams":{"fieldset":"default","ttype":"teamThought"},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});
</script> 
<%= yield %>

</body>
</html>
