<!DOCTYPE html>
<html>
<head>
  <title>Project Vision</title>
  <%#= stylesheet_link_tag :all %> 
  <%= stylesheet_link_tag "application", "resources/css/xtheme-gray","resources/css/ext-all","style","tabs-example.css","Ext.ux.tot2ivn.VrTabPanel" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

  <%#*EXTJS%>
  <%= javascript_include_tag "extjs/adapter/ext/ext-base","extjs/ext-all-debug","extjs/examples/ux/RowExpander"  %>
  
  <!-- Extensible includes -->
  <%= stylesheet_link_tag "extensible-all" %>
  <%= javascript_include_tag "extensible-all-debug","MemoryEventStore","events" %>
  <!-- Any Extensible overrides go here -->  

  <%#*Application Specific%>
  <%= javascript_include_tag "VrTabPanel" %>
  <script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAVzcu66YGicZvSPDVjflWZRQkdwf30UEryoEcWYgVOc_USNqEkxQkdR_BWf8ImhnhR_oQp2C-OaTnJw"></script>
    <script>
  google.load("gdata", "2.x", {packages: ["calendar"]});

  // Constants used as element IDs in the DOM
  var DEFAULT_PANE = "default-pane";
  var AUTHENTICATED_PANE = "authenticated-pane";
  var AUTH_BUTTON = "auth-button"; 
  var LOGOUT_BUTTON = "logout-button"; 
  var SAVE_BUTTON = "save-button";
  var EVENT_SELECT = "event-select";
  var TITLE_FIELD = "title-field";
  var DATE_FIELD = "date-field";
  var LOCATION_FIELD = "location-field";
  var ATTENDEES_FIELD = "attendees-field";
  var NOTES_FIELD = "notes-field";
  var STATUS_AREA = "status-area";

  // Location of the event feed of the primary calendar for the authenticated user
  var EVENT_FEED_URL = 
      "https://www.google.com/calendar/feeds/default/private/full";

  // A google.gdata.calendar.CalendarService object that can be used to access
  // private feed using AuthSub.
  var myService;

  // The events feed is retrieved once, and accessed every time the event
  // selected in the dropdown menu is changed. 
  var myEventsFeed;

  /**
   * Sets the global calendar service to a new instance.  Also resets the form 
   * fields to clear out any information that may have been cached.
   */
  function init() {
    google.gdata.client.init(handleError);

    var token = google.accounts.user.checkLogin(EVENT_FEED_URL);
    // Write the token to the console for debug
    //google.gdata.util.log("token: '" + token + "'");

    myService = new google.gdata.calendar.CalendarService("Google-meetingNotes-0.9");

    var authButton = document.getElementById(AUTH_BUTTON);
    if (google.accounts.user.checkLogin(EVENT_FEED_URL)) {
      //document.getElementById(DEFAULT_PANE).style.display = "none";
     // document.getElementById(AUTHENTICATED_PANE).style.display = "inline";
      //getEvents();
    } else {
     // document.getElementById(DEFAULT_PANE).style.display = "inline";
      //document.getElementById(AUTHENTICATED_PANE).style.display = "none";
    } 
    //reset();
  };

  google.setOnLoadCallback(init);

  /**
   * Requests an AuthSub token for interaction with the Calendar service.
   */
  function login() {
    var token = google.accounts.user.login(EVENT_FEED_URL);
  };

  /**
   * Revokes the AuthSub token and resets the page.
   */
  function logout(){
    google.accounts.user.logout();
    init();
  };

  /**
   * Submits a query for all events that occur today.
   */


/**
 * Populates the dropdown menu with events returned in the query for
 * today's events.
 *
 * @param {JSON} The JSON object returned by the Calendar service that
 *   contains a collection of event entries.
 */


/**
 * Populates the event information fields with data from the selected event
 * entry. 
 */


/**
 * Updates the event in Google Calendar with the data in the event information
 * fields.
 */


/**
 * Updates the appropriate entry in myEventsFeed and notifies the user that 
 * the event was saved.
 */


/**
 * Sets the status to the given string.  If none is given, then the status is
 * cleared.
 */

/**
 * Notifies the user that the event was not saved.
 */
function handleSaveError(e) {
  setStatus("Error");
  handleError(e);
};

/**
 * Creates a popup alert to notify the user of a Google data related error.
 * 
 * @param {Object} An error that occurred while attempting to interact with
 *   the Google Calendar service.  
 */
function handleError(e) {
  if (e instanceof Error) {
    // Alert with the error line number, file and message.
    alert('Error at line ' + e.lineNumber +
        ' in ' + e.fileName + '\n' +
        'Message: ' + e.message);
    // If available, output HTTP error code and status text
    if (e.cause) {
      var errorStatus = e.cause.status;
      var statusText = e.cause.statusText;
      alert('Root cause: HTTP error ' + errorStatus + ' with status text of: ' +
          statusText);
    }
  } else {
    alert(e.toString());
  }
};

/**
 * Resets the form back to the same state as when the page first loads. 
 */

</script>
</head>
<body>
  <div style="display:none;">
    <input id="auth-button" type="button" value="Login" onclick="login()" style="margin:5px 0px 5px 0px;"/>  
    <img src="images/jqtouch.png"  style="absolute:-1000px;"/ >
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


<script>
  var is_admin = <%= (current_user and current_user.is_admin) ? 'true' : 'false' %> ;
  var currentUser = <%= current_user ? current_user.id : 0 %>;
  <%- if current_user %>
    <%- tdate = current_user.synchronization_date ? current_user.synchronization_date : current_user.created_at  %>
    console.log('<%= tdate.strftime("%Y-%m-%dT%H:%M:%S")%>');
    sync_date =  new Date('<%= tdate.strftime("%Y-%m-%dT%H:%M:%S")%>');
    var hours = sync_date.getHours();
    timezone = sync_date.getTimezoneOffset()/60;
    hours = hours - timezone;
    sync_date.setHours(hours);
    console.log(hours);
   console.log(timezone);
    
    
    console.log(sync_date);
  <% end %>
  new Ext.data.JsonStore(
  {
    "storeId":"inbox_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"brief","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"detail","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"category","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"actionable","allowBlank":true,"type":"boolean","defaultValue":null},
      {"name":"context","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"next","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"outcome","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"due_date","allowBlank":true,"type":"date","defaultValue":null},
      {"name":"action_type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"scope","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"created_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"updated_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"action_type_str","allowBlank":true,"type":"string","defaultValue":null}
     
    ],
    "idProperty":"id",
    "url":"/thoughts.json",
    "baseParams":{"fieldset":"default","ttype":"inbox", "status":0},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});
  new Ext.data.JsonStore(
  {
    "storeId":"organize_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"brief","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"detail","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"category","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"actionable","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"context","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"next","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"outcome","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"due_date","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"scope","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"created_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"updated_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"}
    ],
    "idProperty":"id",
    "url":"/thoughts.json",
    "baseParams":{"fieldset":"default","ttype":"organize", "status":1},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});
  new Ext.data.JsonStore(
  {
    "storeId":"todo_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"brief","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"detail","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"category","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"actionable","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"context","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"next","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"outcome","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"due_date","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"scope","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"created_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"updated_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"action_type_str","allowBlank":true,"type":"string","defaultValue":null}
    ],
    "idProperty":"id",
    "url":"/thoughts.json",
    "baseParams":{"fieldset":"default","ttype":"organize", "status":2, "action_type":1},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});
  new Ext.data.JsonStore(
  {
    "storeId":"reference_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"brief","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"detail","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"category","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"actionable","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"context","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"next","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"outcome","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"due_date","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"scope","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"created_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"updated_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"action_type_str","allowBlank":true,"type":"string","defaultValue":null}
    ],
    "idProperty":"id",
    "url":"/thoughts.json",
    "baseParams":{"fieldset":"default","ttype":"organize", "status":2, "action_type":2},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});
  new Ext.data.JsonStore(
  {
    "storeId":"reminder_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"brief","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"detail","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"category","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"actionable","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"context","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"next","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"outcome","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"due_date","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"scope","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"created_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"updated_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"action_type_str","allowBlank":true,"type":"string","defaultValue":null}
    ],
    "idProperty":"id",
    "url":"/thoughts.json",
    "baseParams":{"fieldset":"default","ttype":"action", "status":2, "action_type":3},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});

  new Ext.data.JsonStore(
  {
    "storeId":"event_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"brief","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"detail","allowBlank":true,"type":"string","defaultValue":null},     
      {"name":"type","allowBlank":true,"type":"string","defaultValue":null},      
      {"name":"start_date","allowBlank":true,"type":"datetime","defaultValue":null,"dateFormate":"c"},                 
      {"name":"action_status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"due_date","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_type","allowBlank":true,"type":"string","defaultValue":null},      
      {"name":"created_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"updated_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"action_type_str","allowBlank":true,"type":"string","defaultValue":null}
    ],
    "idProperty":"id",
    "url":"/thoughts.json",
    "baseParams":{"fieldset":"default","ttype":"action", "status":2, "action_type":5},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});

  new Ext.data.JsonStore(
  {
    "storeId":"recent_completed_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"brief","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"detail","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"category","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"actionable","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"context","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"next","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"outcome","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"due_date","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"scope","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"created_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"updated_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"}
    ],
    "idProperty":"id",
    "url":"/thoughts.json",
    "baseParams":{"fieldset":"default","ttype":"action", "status":2, "action_type":1},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});
  new Ext.data.JsonStore(
  {
    "storeId":"upcoming_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"brief","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"detail","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"category","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"actionable","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"context","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"next","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"outcome","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"due_date","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"scope","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"created_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"updated_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"}
    ],
    "idProperty":"id",
    "url":"/thoughts.json",
    "baseParams":{"fieldset":"default","ttype":"action", "status":2, "action_type":1},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});
  new Ext.data.JsonStore(
  {
    "storeId":"recent_team_activity_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"user_id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"model_type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"model_id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"action_type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"message","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"created_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"updated_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"}
    ],
    "idProperty":"id",
    "url":"/action_logs/recent_team_logs.json",
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});
	new Ext.data.JsonStore(
  {
    "storeId":"global_thought_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"action_status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"actionable","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"assignee_id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"brief","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"category","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"context","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"created_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"detail","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"due_date","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"start_date","allowBlank":true,"type":"datetime","defaultValue":null,"dateFormate":"c"},
      {"name":"id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"next","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"outcome","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"parent_id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"scope","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"updated_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"user_id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"catagory_id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"assigned_to","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"myteam","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_type_str","allowBlank":true,"type":"string","defaultValue":null}
    ],
    "idProperty":"id",
    "url":"/thoughts.json",
    "baseParams":{"fieldset":"default","ttype":"all"},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});

  new Ext.data.JsonStore(
  {
    "storeId":"users_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"id","allowBlank":false,"type":"int","defaultValue": 1},
      {"name":"current_id","allowBlank":false,"type":"int","defaultValue": 1},
      {"name":"email","allowBlank":false,"type":"string","defaultValue":""},
      {"name":"user_name","allowBlank":false,"type":"string","defaultValue":""},
      {"name":"current_user_name","allowBlank":false,"type":"string","defaultValue":""},
      {"name":"last_sign_in_at","allowBlank":false,"type":"datetime","defaultValue":""},
      {"name":"alltask","allowBlank":false,"type":"string","defaultValue": ""},
      {"name":"completedtodo","allowBlank":false,"type":"string","defaultValue": ""},     
      {"name":"overdue","allowBlank":false,"type":"string","defaultValue": ""},     
      {"name":"team_id","allowBlank":false,"type":"int","defaultValue": 1},
            ],
    "idProperty":"id",
    "url":"/my_users.json",
    "baseParams":{},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});
     new Ext.data.JsonStore(
  {
    "storeId":"current_users_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      
      {"name":"current_id","allowBlank":false,"type":"int","defaultValue": 1},
      {"name":"email","allowBlank":false,"type":"string","defaultValue":""},
      {"name":"user_name","allowBlank":false,"type":"string","defaultValue":""},
      {"name":"current_user_name","allowBlank":false,"type":"string","defaultValue":""},      
      {"name":"alltask","allowBlank":false,"type":"string","defaultValue": ""},
      {"name":"completedtodo","allowBlank":false,"type":"string","defaultValue": ""},     
      {"name":"overdue","allowBlank":false,"type":"string","defaultValue": ""},     
      
            ],
    "idProperty":"id",
    "url":"/my_users/currentUser.json",
    "baseParams":{},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});

  new Ext.data.JsonStore(
  {
    "storeId":"fcontext_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"id","allowBlank":false,"type":"int","defaultValue": 1},
      {"name":"context","allowBlank":false,"type":"string","defaultValue":""},
      {"name":"category","allowBlank":false,"type":"string","defaultValue":""},
            ],
    "idProperty":"id",
    "url":"/thoughts.json",
    "baseParams":{},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});
    
  new Ext.data.JsonStore(
  {
    "storeId":"my_team_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"id","allowBlank":false,"type":"int","defaultValue": 10},
      {"name":"name","allowBlank":false,"type":"string","defaultValue":""},
            ],
    "idProperty":"id",
    "url":"/teams/list.json",
    "baseParams":{},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});
  new Ext.data.JsonStore(
  {
    "storeId":"catagories",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"id","allowBlank":false,"type":"int","defaultValue": 10},
      {"name":"name","allowBlank":false,"type":"string","defaultValue":""},
      {"name":"ctype","allowBlank":false,"type":"string","defaultValue":""},
            ],
    "idProperty":"id",
    "url":"/catagories.json",
    "baseParams":{},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});
    
  
  var teamStoreReader = new Ext.data.JsonReader(
  {
    "idProperty":"id",
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"id","allowBlank":false,"type":"string","defaultValue": "1_1"},
      {"name":"user_id","allowBlank":false,"type":"int","defaultValue": 1},
      {"name":"user","allowBlank":false,"type":"string","defaultValue": ""},
      {"name":"tasks","allowBlank":false,"type":"string","defaultValue": ""},
     
      {"name":"team","allowBlank":false,"type":"string","defaultValue":"goodlogics"},
      {"name":"email","allowBlank":false,"type":"string","defaultValue":""},
      {"name":"last_sign_in_at","allowBlank":false,"type":"datetime","defaultValue":""},
      {"name":"user_name","allowBlank":false,"type":"string","defaultValue":""},
            ]
  });
  
  new Ext.data.GroupingStore(
  {
    "storeId":"team_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "reader":teamStoreReader,
    "url":"/teams.json",
    "groupField": 'team',
    "baseParams":{},
    "format":"json",
    "writer":new Ext.data.JsonWriter({"encode":false})});

  new Ext.data.JsonStore(
  {
    "storeId":"team_thought_store",
    "autoLoad":false,"autoSave":true,"restful":true,
    "successProperty":"success",
    "root":"data",
    "messageProperty":"message",
    "fields":[
      {"name":"action_status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"actionable","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"assignee_id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"brief","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"category","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"context","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"created_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"detail","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"due_date","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"start_date","allowBlank":true,"type":"datetime","defaultValue":null,"dateFormate":"c"},
      {"name":"id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"next","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"outcome","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"parent_id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"scope","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"status","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"updated_at","allowBlank":true,"type":"date","defaultValue":null,"dateFormat":"c"},
      {"name":"user_id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"catagory_id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"assigned_to","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"type","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"team_id","allowBlank":true,"type":"int","defaultValue":null},
      {"name":"team","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"replies","allowBlank":true,"type":"array","defaultValue":null},
      {"name":"myteam","allowBlank":true,"type":"string","defaultValue":null},
      {"name":"action_type_str","allowBlank":true,"type":"string","defaultValue":null}
     // {"name":"myteam","allowBlank":true,"type":"string","defaultValue":null}
    ],
    "idProperty":"id",
    "url":"/thoughts.json",
    "baseParams":{"fieldset":"default","ttype":"teamThought"},
    "format":"json","writer":new Ext.data.JsonWriter({"encode":false})});
</script> 
<%= yield %>

</body>
</html>
